:root {
--font-family: helvetica;
--oliveGreen: #6C776B;
--sunsetOrange: #ED7E52;
--beige: #A68B6A;
--linen: #F4ECD5;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  border: 2px solid black;
}

.player-column {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-image: linear-gradient(var(--sunsetOrange), var(--oliveGreen));
}

.player-img {
  height: 95%;
  max-width: 95%;
  max-height: 170px;
}

.player-column h2 {
  font-size: 2em;
}

.quote-box {
  max-width: 95%;
  min-height: 200px;
  margin-top: 40%;
  overflow-y: auto;
}

blockquote {
  font-size: 2em;
  line-height: 1.3;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-weight: lighter;
  text-align: center;
}

.game-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./assets/goldengirlsLR.jpeg");
  background-size: cover;

}

.game-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  /* border-bottom: double 8px black; */
  /* background-color: var(--beige); */
}

.game-header h1 {
  font-size: 10vh;
  height: 80%;
  width: auto;
  -webkit-text-fill-color: var(--linen);
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 4px;
}

.game-header img {
  margin: 5px 5px 20px 20px;
  height: 80%;
}

.ttt-box {
  width: 70%;
  max-width: 500px;
  height: 60%;
  margin-top: 10%;
  padding-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  /* background-image: linear-gradient(var(--oliveGreen), var(--sunsetOrange)); */
}

.board-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  flex: 1 0 30%;
  height: 32%;
  background-color: var(--beige);
}

.board-box:hover {
  cursor: grab;
  transform: scale(1.03);
  background-color: var(--oliveGreen);
}

.border-img {
  height: 80%;
}
